body, button, input {
  font-family: 'Questrial', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figure {
  font-weight: normal;
  margin: 0;
}

button, input {
  outline: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p, a, button, input {
  font-size: 1.125rem;
}

@keyframes intro-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-header {
  0% {
    transform: translateY(40px) scale(0.6);
  }
  100% {
    transform: translate(0) scale(1);
  }
}

#bg {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: fixed;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  transition: all .4s;
  position: relative;
  z-index: 10;
  animation-name: intro-content;
  animation-duration: 1.4s;
  animation-delay: .1s;
  animation-fill-mode: both;
}

#landing h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation-name: intro-header;
  animation-duration: 1s;
  animation-delay: .1s;
}

#landing p {
  width: 36vw;
  text-align: center;
  line-height: 190%;
}

#landing button {
  color: #425831;
  background-color: white;
  padding: .6em 4.2em;
  border-radius: 4px;
  margin-top: 0.875rem;
}

#landing button:hover {
  opacity: .8;
}

#dimmed-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(20, 20, 20, 0.86);
  top: 0;
  left: 0;
  transition: all 0.6s;
  transform: translateX(-120vw);
  visibility: hidden;
}

#full-site {
  visibility: hidden;
  overflow: hidden;
  max-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#above-fold {
  position: relative;
  color: white;
  padding-left: 92px;
  padding-top: 62px;
  box-sizing: border-box;
  width: 94%;
  height: 100vh;
  display: inline-block;
  opacity: 0;
  transition: all 1s 0.5s;
}

#above-fold nav {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  padding-bottom: 1.125rem;
  padding-right: 4.5rem;
}
